<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Archetype Created Web Application</display-name>
  	<servlet>
  		<servlet-name>RouteController</servlet-name>
  		<display-name>RouteController</display-name>
  		<description></description>
  		<servlet-class>com.voyager.controller.RouteController</servlet-class>
  	</servlet>
  	<servlet>
  		<servlet-name>HomeController</servlet-name>
  		<display-name>HomeController</display-name>
  		<description></description>
  		<servlet-class>com.voyager.controller.HomeController</servlet-class>
  	</servlet>
  	<servlet>
  		<servlet-name>FeeController</servlet-name>
  		<display-name>FeeController</display-name>
  		<description></description>
  		<servlet-class>com.voyager.controller.FeeController</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes/AddNewRoute</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes/ViewAllRoutes</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes/InsertRoute</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes/DeleteRoute</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>RouteController</servlet-name>
  		<url-pattern>/Routes/UpdateRoute</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>HomeController</servlet-name>
  		<url-pattern>/</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>FeeController</servlet-name>
  		<url-pattern>/Fees/ViewAllRoutes</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>FeeController</servlet-name>
  		<url-pattern>/Fees/UpdateHalt</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>FeeController</servlet-name>
  		<url-pattern>/Fees/DeleteHalt</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>FeeController</servlet-name>
  		<url-pattern>/Fees/SelectRoute</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>FeeController</servlet-name>
  		<url-pattern>/Fees/InsertHalt</url-pattern>
  	</servlet-mapping>
  		
</web-app>

